<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="UTF-8">
  <title>Nomad News|{{comment_head.c_points}}</title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>
<body>
  <header>
    <h1>{{comment_head.c_title}}</h1>
    <div>
      <span>{{comment_head.c_points}} points</span>
      <span>|</span>
      <span>By {{comment_head.c_author}}</span>
      <span>|</span>
      <a href="{{comment_head.c_url}}">{{comment_head.c_url}}</a>
    </div>
  </header>
  <main>
    {% for comment in comments %}
      <div>
        <strong>{{comment.author}}</strong>
        <p>{{comment.text}}</p>
      </div>
      <hr />
    {% endfor %}
  </main>
</body>
</html>